---
# tasks file for ansible-role-sonarqube/

- name: "Create SonarQube system group"
  group:
    name: "{{ sonar_group }}"
    state: present

- name: "Create SonarQube system user"
  user:
    name: "{{ sonar_user }}"
    group: "{{ sonar_group }}"
    createhome: no
    shell: "/sbin/nologin"
    comment: "SonarQube System user"
    state: present

- name: "Create SonarQube directories"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ sonar_user }}"
    group: "{{ sonar_group }}"
    mode: "u=rwx,g=rx,o="
  with_items:
    - "{{ sonar_install_directory }}"
    - "{{ sonar_logs_dir }}"
    - "{{ sonar_data_dir }}"
    - "{{ sonar_temp_dir }}"

- name: "set max_map_count value (required by elasticsearch)"
  sysctl:
    name: vm.max_map_count
    value: 262144
    state: present

- name: "Ensure JAVA is installed"
  command: "java -version"
  register: prereq_java
  changed_when: false

- name: "Fail if JAVA is not available"
  fail:
    msg: "JAVA is not installed or configured"
  when: not prereq_java.rc == 0

- name: "Execute Debian specific tasks"
  include_tasks: setup_debian.yml
  when: ansible_os_family == 'Debian'

- include_tasks: setup_prepare.yml

- include_tasks: setup_sonarqube.yml

- include_tasks: setup_plugin.yml
  with_items: "{{ sonar_plugins }}"
  loop_control:
    loop_var: "sonar_cplugin"

- name: "flush handlers"
  meta: flush_handlers

- name: "Ensure target version matches"
  uri:
    url: "http://{{ sonar_web_host }}:{{ sonar_web_port }}{{ sonar_web_context }}/api/server/version"
    method: GET
    return_content: yes
  register: api_check_version
  until: api_check_version.status == 200
  retries: 60
  delay: 5
  check_mode: no # uri module not support check mode (at least in Ansible 2.10)
  changed_when: sonar_version | string not in api_check_version.content
  notify: fail if expected sonar version not confirmed
  ignore_errors: "{{ ansible_check_mode }}"
